@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<div class="jumbotron">
    <div style="float:left">
        <h1>Ribbonwood Gaming</h1>
        <p class="lead">The place to buy your Dungeons & Dragons merchandise</p>
        <p><a href=~/Home/About class="btn btn-primary btn-lg">Learn more about our company here! &raquo;</a></p>
    </div>
    <div role="img" style="float:right">
        <img src="~/lib/Images/RibbonwoodLogo.png" alt="Logo" height="200" width="175" />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<h1>Our Products</h1>
<div class="row">

    <div class="col-md-4">
        <h2>Wizards of the Coast </h2>
        <p>
            Wizards of the Coast publishes role-playing games, board games, and collectible card games. They have received numerous awards, including several Origins Awards.
        </p>
        <p><a class="btn btn-default" href="~/Products/Store?vendor=Wizards%20of%20the%20Coast">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Level Up Dice</h2>
        <p>Level Up Dice aims to bring you the best in dice with the most sought after materials.</p>
        <p><a class="btn btn-default" href="~/Products/Store?vendor=Level%20Up%20Dice">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hero Forge</h2>
        <p>Hero Forge is an online character design application that lets users create and buy customized tabletop miniatures and statuettes out of high quality materials.</p>
        <p><a class="btn btn-default" href="~/Products/Store?vendor=Hero%20Forge">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Wyrmwood</h2>
        <p>
            Wyrmwood is a small, customer-focused company founded by three friends, whose mission is to deliver exceptional craftsmanship and high quality materials to the tabletop gaming community.
        </p>
        <p><a class="btn btn-default" href="~/Products/Store?vendor=Wyrmwoodd">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bundles</h2>
        <p>We created bundles of products from all of these retailers to bring you the best products for the cheapest price.</p>
        <p><a class="btn btn-default" href="~/Products/Store?vendor=Bundles">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Merch</h2>
        <p>We created some of our own merch as well!</p>
        <p><a class="btn btn-default" href="~/Products/Store?vendor=Merch">Learn more &raquo;</a></p>
    </div>
</div>